/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header a {
  position: absolute;
  left: 25px;
  font-size: 22px;
  cursor: pointer;
  z-index: 3;
}
.header .header-logo {
  z-index: 1;
  height: 63px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header .header-logo h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
.header .header-location {
  margin: auto;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .header-location span {
  width: auto;
  font-weight: 500;
  margin-left: 15px;
}

@media (min-width: 1024px) {
  .header .header-logo {
    box-shadow: none;
  }
  .header .header-location {
    box-shadow: none;
  }
}
.footer {
  background-color: #353535;
  color: white;
}
.footer .footer-nav {
  padding: 20px 15px;
}
.footer .footer-nav .footer-logo {
  font-family: "Shrikhand", serif;
}
.footer .footer-nav .footer-logo h2 {
  margin-bottom: 20px;
}
.footer .footer-nav p {
  margin-bottom: 10px;
}
.footer .footer-nav p i {
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .footer .footer-nav {
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }
  .footer .footer-nav .footer-logo {
    order: 5;
  }
  .footer .footer-nav .linkgroup {
    display: flex;
    justify-content: end;
  }
  .footer .footer-nav .linkgroup1 a {
    width: 200px;
  }
  .footer .footer-nav .linkgroup2 a {
    width: 130px;
  }
  .footer .footer-nav p {
    margin-bottom: 0px;
  }
  .footer .footer-nav .footer-logo {
    font-size: 18px;
  }
  .footer .footer-nav .footer-logo h2 {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 218px;
  height: 50px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.order-button:hover {
  transition: 0.5s;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.137)) opacity(75%);
}

.howto-card {
  display: flex;
  align-items: center;
  position: relative;
  height: 72px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #F6F6F6;
  border-radius: 20px;
}
.howto-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.howto-card i {
  display: flex;
  justify-content: center;
  width: 22px;
  color: #7E7E7E;
  font-size: 19px;
  margin: 0 22px 0 30px;
}
.howto-card p {
  font-weight: 500;
  font-size: 16px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 15px;
  height: 251px;
}
.restaurant-card img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.restaurant-card .restaurant-card-new-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 20px;
  margin-top: 15px;
  right: 25px;
}
.restaurant-card .restaurant-card-content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurant-card .restaurant-card-content .restaurant-card-name {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.restaurant-card .restaurant-card-content .restaurant-card-location {
  font-size: 17px;
  font-weight: 300;
}
.restaurant-card .icon {
  border-radius: 0;
  position: absolute;
  margin-top: 10px;
  right: 25px;
  font-size: 22px;
}
.restaurant-card .icon:hover {
  color: transparent;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  font-weight: 900;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: #f6f6f6;
  animation: loader 3s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  animation: l6 2s forwards;
}

@keyframes loader {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
.homepage section {
  padding: 35px 15px 50px;
}
.homepage section h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}
.homepage .order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.homepage .order h2 {
  width: 275px;
  text-align: center;
  margin-bottom: 20px;
}
.homepage .order p {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  width: 315px;
  text-align: center;
  margin-bottom: 35px;
}
.homepage .howto {
  margin: auto;
}
.homepage .howto .howto-list {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.homepage .howto .howto-list .howto-card {
  margin-bottom: 25px;
}
.homepage .howto .howto-list :last-child i {
  color: #9356DC;
}
.homepage .restaurants {
  background-color: #F6F6F6;
}
.homepage .restaurants h2 {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}
.homepage .restaurants .restaurants-list {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .restaurants .restaurants-list a {
  width: 100%;
  max-width: 500px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .homepage section h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .homepage section .howto-card .howto-list .howto-card {
    margin-bottom: 40px;
  }
  .homepage .order h2 {
    font-size: 33px;
    width: auto;
  }
  .homepage .order p {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .homepage .order h2 {
    font-size: 40px;
  }
  .homepage .howto h2 {
    max-width: 1080px;
    margin: auto;
    margin-bottom: 50px;
  }
  .homepage .howto .howto-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage .howto .howto-list .howto-card {
    width: 305px;
  }
  .homepage .restaurants .restaurants-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .homepage .restaurants .restaurants-list a {
    width: 45%;
    margin-bottom: 50px;
  }
}
.restaurant-img {
  max-height: 383px;
  width: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: -50px;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1055px;
}
.container h1 {
  font-size: 28px;
  font-family: "Shrikhand", serif;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .icon {
  font-size: 28px;
}
.container .icon:hover {
  color: transparent;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  font-weight: 900;
}
.container section {
  margin-top: 40px;
  width: 100%;
  max-width: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container section h2 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  position: relative;
}
.container section h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}
.container section article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 15px;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
  margin-top: 12px;
  background-color: white;
  border-radius: 15px;
  opacity: 0;
  margin-left: 100px;
}
.container section article .description {
  width: 10px;
  flex-grow: 1;
}
.container section article .description h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.container section article .description p {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
}
.container section article .description h3, .container section article .description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container section article span {
  font-size: 15px;
  font-weight: 700;
  width: 25px;
  margin-right: 15px;
  margin-top: 15px;
}
.container section article .checkmark {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  width: 0;
  height: 100%;
  transition: 0.5s;
}
.container section article .checkmark i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  font-size: 16px;
  width: 22px;
  padding: 3px;
  margin-left: 20px;
}
.container section article:hover .checkmark {
  transition: 0.5s;
  width: 60px;
}
.container .order-button {
  cursor: pointer;
  margin-top: 40px;
}
.container .starter article {
  animation: fade-in 2s forwards;
  animation-delay: 0s;
}
.container .dish article {
  animation: fade-in 2s forwards;
  animation-delay: 1s;
}
.container .dessert article {
  animation: fade-in 2s forwards;
  animation-delay: 2s;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
