.footer
    background-color: #353535
    color: white
    h2 
        font-family: 'Shrikhand', serif
        margin-bottom: 20px
    .footer-nav
        padding: 20px 15px
        p
            margin-bottom: 10px
            i
                margin-right: 10px
