@use '../base/variables' as *
.order-button
    display: flex
    justify-content: center
    align-items: center
    width: 218px
    height: 50px
    background-image: $btn-gradient
    color: white
    border-radius: 25px
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)