@use '../base/variables' as *
@use '../components/buttons' as *
@use '../components/cards' as *

.loader-container
    width: 100%
    height: 100vh
    position: fixed
    z-index: 2
    background-color: #f6f6f6
    animation: loader 3s linear forwards
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

.loader
    width: 120px
    height: 22px
    border-radius: 20px
    border: 2px solid
    position: relative

.loader::before
    content: ""
    position: absolute
    margin: 2px
    inset: 0 100% 0 0
    border-radius: inherit
    background: $btn-gradient
    animation: l6 2s forwards

@keyframes loader
    80%
        opacity: 1

    100%
        opacity: 0
        visibility: hidden

@keyframes l6
    100%
        inset: 0
.homepage
    section
        padding: 35px 15px 50px
        h2
            font-weight: 700
            font-size: 24px
            margin-bottom: 25px

    .order
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $primary-color
        h2
            width: 275px
            text-align: center
            margin-bottom: 20px

        p
            font-weight: 300
            font-size: 18px
            color: #353535
            width: 315px
            text-align: center
            margin-bottom: 35px

    .howto
        margin: auto
        .howto-list
            max-width: 1080px
            margin: auto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 0px 10px
            .howto-card
                margin-bottom: 25px

            :last-child
                i
                    color: #9356DC

    .restaurants
        background-color: $primary-color
        h2
            max-width: 1080px
            margin-right: auto
            margin-left: auto
        .restaurants-list
            max-width: 1080px
            margin: auto
            display: flex
            flex-direction: column
            align-items: center
            a
                width: 100%
                max-width: 500px
                margin-bottom: 25px

@media (min-width: 768px)
    .homepage
        section
            h2
                font-size: 24px
                margin-bottom: 50px

            .howto-card
                .howto-list
                    .howto-card
                        margin-bottom: 40px

        .order
            h2
                font-size: 33px
                width: auto
            p
                width: auto

@media ( min-width: 1024px)
    .homepage
        .order
            h2
                font-size: 40px
        .howto
            h2
                max-width: 1080px
                margin: auto
                margin-bottom: 50px
            .howto-list
                flex-direction: row
                justify-content: space-between
                .howto-card
                    width: 305px

        .restaurants
            .restaurants-list
                flex-direction: row
                justify-content: space-between
                flex-wrap: wrap

                a
                    width: 45%
                    margin-bottom: 50px
